---
import Navigation from "./Navigation.astro";
---

<header>
	<nav>
		<div class="blog-title">Daiki's Blog</div>
		<Navigation />
	</nav>
</header>

<style>
	header {
		padding: 16px 16px;
	}

	img {
		width: 100px;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 30px;
	}

	div {
		display: flex;
		align-items: center;
	}

	.blog-title {
		font-size: 24px;
		font-weight: bold;
	}
</style>
