---

---

<div class="nav-links">
	<a href="/">Home</a>
	<a href="/about">About</a>
	<a href="/blog">Blog</a>
	<a href="/tags">Tags</a>
</div>

<style>
	.nav-links {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.nav-links a {
		text-decoration: none;
		font-weight: bold;
		color: #212223;
		margin: 0 8px;
	}

	.nav-links a:hover,
	.nav-links a:focus {
		color: #212223;
	}
</style>
