---
import "../styles/markdown.css";
import Tag from "../components/Tag.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = {
	frontmatter: {
		title: string;
		pubDate: Date;
		description: string;
		tags: string[];
	};
};
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
	<p>Published on: {frontmatter.pubDate.toLocaleDateString("ja")}</p>
	<p><em>{frontmatter.description}</em></p>
	<slot />
	<div class="tags">
		{frontmatter.tags.map((tag) => <Tag tag={tag} />)}
	</div>
</BaseLayout>

<style>
	.tags {
		display: flex;
		flex-wrap: wrap;
	}
</style>
